# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Credential files
*credential*
*.pem
*.ppk
*.pub

# Specific files
.DS_Store
known_hosts

# VSCode dirs
*Storage/
History/

# SSH
.ssh/
!.ssh/config
