[user]
	name = Santosh Shedbalkar
	# email = sanoysyg@gmail.com
[color]
	ui = true
[core]
        editor = vim
        whitespace = indent-with-non-tab, trailing-space, cr-at-eol
[alias]
	lg1 = log -10 --decorate --oneline --graph
	lg2 = log --graph --abbrev-commit --decorate --date=relative -10
